{ 
  BasedOnStyle: LLVM, 
  UseTab: Never,
  IndentWidth: 2,
  PointerAlignment: Left,
  IndentCaseLabels: true,
  SortIncludes: false,
  TabWidth: 0,
  BreakBeforeBraces: Allman,
  AllowShortIfStatementsOnASingleLine: false,
  IndentCaseLabels: true,
  ColumnLimit: 0,
  AccessModifierOffset: -2,
  NamespaceIndentation: All,
  FixNamespaceComments: false,
  IndentAccessModifiers: true,
}
